@charset "utf-8";

/* font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*, h1 {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    color: #474645;
    background: #F9F9F9;
}
a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #474645;
    transition: .5s;
    &:hover {
        opacity: .7;
    }
}
ul li {
    list-style: none;
    letter-spacing: 1.5px;
}
main {
    margin: 80px 0 0 0;
}

// currentクラスはactiveの場合自動で入る
.current {
    color: red;
}
.prevLink::before {
    content: "";
    display: inline-block;
    background-image: url("../img/common/prev.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    right: 4px;
    top: 6px;
}
.nextLink::after {
    content: "";
    display: inline-block;
    background-image: url("../img/common/next.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    left: 4px;
    top: 6px;
}

.instaWrapper {
    width: calc(100% - 50px);
    margin: 0 auto;
    .sbi_photo_wrap {
        margin: 8px;
    }
}

.screen-reader-text {
    display: none;
}

// categoryのactiveクラス
.current-cat {
    a {
        color: red;
    }
}

.like {
    display: flex;
    align-items: center;
    .wpulike-heart .wp_ulike_general_class {
        box-shadow: none !important;
        border-radius: 0 !important;
        margin:  0 24px 0 0 !important;
        padding:  0 !important;
    }
    .wpulike-heart .count-box {
        font-size: 16px !important;
        color: #666 !important;
        font-weight: 500 !important;
        padding: 0 !important;
    }
}